<input id="email" matInput placeholder="Email" formControlName="username" required (keyup)="updateEmail($event)">
<input id="password" matInput type="password" placeholder="Password" formControlName="password" required (keyup)="updatePassword($event)">
<button id="login" mat-raised-button color="primary" (click)="authenticate()" >Login</button>
<button id="validate" mat-raised-button color="primary" (click)="validate()" >Validate</button>
<div id="token">{{Token}}</div>
<div id="validation">{{IsValid}}</div>